<div class="container">
  <div class="row">
    <div class="col-4">
      <form class="form-inline">
        <label for="search">Search: </label>
        <input [(ngModel)]="filterPhrase"
               type="text"
               id="search"
               name="search"
               class="form-control">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th (click)="setSorterKey('id')"
                class="id title">ID:</th>
            <th (click)="setSorterKey('orderdate')"
                class="orderdate title">Order date:</th>
            <th (click)="setSorterKey('userName')"
                class="userName title">User name:</th>
            <th (click)="setSorterKey('userEmail')"
                class="userEmail title">User email:</th>
            <th (click)="setSorterKey('newsletter')"
                class="newsletter title">Newsletter:</th>
            <th (click)="setSorterKey('shippingAddress')"
                class="shippingAddress title">Shipping address:</th>
            <th (click)="setSorterKey('productId')"
                class="productId title">Product id:</th>
            <th (click)="setSorterKey('amount')"
                class="amount title">Amount:</th>
            <th>
              <button class="btn btn-primary btn-block"
                      routerLink="/admin/orders/0">Add new order</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList | adminFilter:filterPhrase:counter | sort:orderKey:orderDirection:counter">
            <td>{{ order.id }}</td>
            <td>{{ order.orderdate | date }}</td>
            <td>{{ order.userName }}</td>
            <td>{{ order.userEmail }}</td>
            <td>{{ order.newsletter }}</td>
            <td>{{ order.shippingAddress }}</td>
            <td>{{ order.productId }}</td>
            <td>{{ order.amount }}</td>
            <td>
              <div class="btn-group btn-block">
                <button type="button"
                        class="btn btn-warning"
                        routerLink="/admin/orders/{{order.id}}">Edit</button>
                <button type="button"
                        class="btn btn-danger"
                        (click)="deleteOrder(order)">Remove</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>