<table class="table">
  <thead class="thead-light">
    <tr>
      <th>ID:</th>
      <th>Order date:</th>
      <th>Product:</th>
      <th>Quantity:</th>
      <th>User name:</th>
      <th>User email:</th>
      <th>Shipping address:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of list">
      <td>{{ order.id }}</td>
      <td>{{ order.insdate }}</td>
      <td>{{ order.product }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.userName }}</td>
      <td>{{ order.userEmail }}</td>
      <td>{{ order.shippingAddress }}</td>
      <td><button type="button"
                (click)="deleteOrder(order)">Delete order</button></td>
    </tr>
  </tbody>
</table>