<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Price</th>
            <th>Metacritic</th>
            <th>
              <button class="btn btn-primary btn-block"
                      routerLink="/admin/products/0">Add new game</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.type }}</td>
            <td>{{ product.publisher }}</td>
            <td>{{ product.price | currency:'EUR'}}</td>
            <td>{{ product.metacritic }}</td>
            <td>
              <div class="btn-group btn-block">
                <button type="button"
                        class="btn btn-warning"
                        routerLink="/admin/products/{{product.id}}">Edit</button>
                <button type="button"
                        class="btn btn-danger"
                        (click)="deleteProduct(product)">Remove</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>