<div class="container">
  <div class="row">
    <div class="col-sm-8 text-center align-self-center">
      <h1>{{ product.title }}</h1>
    </div>
    <div class="col-sm-4">
      <img src={{product.pic}}
           alt={{product.title}}
           class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 text-center description">{{ product.description }}</div>
    <div class="col-sm-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Genre: {{ product.type }}</li>
                <li class="list-group-item">Publisher: {{ product.publisher }}</li>
                <li class="list-group-item">Release date: {{ product.release }}</li>
                <li class="list-group-item">Metacritic score: {{ product.metacritic }}</li>
                <li class="list-group-item">Price: {{ product.price | currency:'EUR'}}</li>
              </ul>
              <div class="card-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#orderModal">Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="orderModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="orderLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="orderLabel">Order details</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="userName">Name</label>
            <input type="text"
                   class="form-control"
                   id="userName"
                   name="userName"
                   placeholder="Your name"
                   [(ngModel)]="order.userName">
          </div>
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <input type="email"
                   class="form-control"
                   id="userEmail"
                   name="userEmail"
                   aria-describedby="emailHelp"
                   placeholder="Enter email"
                   [(ngModel)]="order.userEmail">
          </div>
          <div class="form-group">
            <label for="shippingAddress">Shipping address</label>
            <input type="text"
                   class="form-control"
                   id="shippingAddress"
                   name="shippingAddress"
                   placeholder="Your name"
                   [(ngModel)]="order.shippingAddress">
          </div>
          <div class="form-group">
            <label for="amount">Amount of {{ product.title }}</label>
            <input type="number"
                   class="form-control"
                   id="amount"
                   name="amount"
                   min="1"
                   [(ngModel)]="order.amount">
          </div>
          <div class="form-check">
            <input type="checkbox"
                   class="form-check-input"
                   id="newsletter"
                   name="newsletter"
                   [(ngModel)]="order.newsletter">
            <label class="form-check-label"
                   for="newsletter">Send me newletters about new games</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Cancel</button>
        <button type="submit"
                class="btn btn-primary"
                (click)="makeOrder()"
                data-dismiss="modal">Order now</button>
      </div>
    </div>
  </div>
</div>